Q1. List any five functions of the pandas library with execution.

Ans-1. pandas.read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [1]:
import pandas as pd

# Read CSV file into a DataFrame
data = pd.read_csv('data.csv')

print(data.head())

2.pandas.DataFrame(): This function is used to create a DataFrame from various data sources, such as lists, dictionaries, or NumPy arrays.


# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22]}
        
df = pd.DataFrame(data)

print(df)

3.pandas.DataFrame.groupby(): This function is used to group rows of a DataFrame based on one or more columns.


# Grouping data by 'Category' column
grouped = df.groupby('Category')

for name, group in grouped:

    print(f"Group: {name}")
    
    print(group)

4.pandas.DataFrame.merge(): This function is used to merge two DataFrames based on a common column or index.


# Merging two DataFrames based on 'ID' column
merged_df = pd.merge(df1, df2, on='ID')

print(merged_df)

5.pandas.DataFrame.to_csv(): This function is used to save a DataFrame to a CSV file.


# Save DataFrame to a CSV file
df.to_csv('output.csv', index=False)

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [3]:
import pandas as pd

In [11]:
def reindex_with_increment(df):
    new_index = range(1, len(df) * 2 + 1, 2) 
    df_reindexed = df.copy() 
    df_reindexed.index = new_index
    return df_reindexed

In [12]:
# Sample DataFrame
data = {'A': [10, 20, 30],
        'B': [40, 50, 60],
        'C': [70, 80, 90]}
df = pd.DataFrame(data)

In [13]:
# Re-index the DataFrame
df_reindexed = reindex_with_increment(df)

print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [14]:
def calculate_sum_of_first_three(df):
    values_column = df['Values']
    first_three_values = values_column.head(3)  
    sum_first_three = first_three_values.sum()  
    print("Sum of the first three values:", sum_first_three)

In [15]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [16]:
calculate_sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
import pandas as pd
import re

In [18]:
def count_words(text):
    words = re.findall(r'\w+', text)
    return len(words)

In [19]:
def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(count_words)

In [20]:
data = {'Text': ["Hello, this is a sample text.", "Python programming is fun!", "Data analysis using Pandas and NumPy."]}
df = pd.DataFrame(data)

In [21]:
add_word_count_column(df)
print(df)

                                    Text  Word_Count
0          Hello, this is a sample text.           6
1             Python programming is fun!           4
2  Data analysis using Pandas and NumPy.           6

Q5.How are DataFrame.size() and DataFrame.shape() different?

Ans-DataFrame.size and DataFrame.shape are both attributes in Pandas DataFrames, but they provide different information about the structure of the DataFrame.

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, which is equal to the number of rows multiplied by the number of columns.
It gives you the total count of cells, including empty cells or cells with missing values.
The value returned by DataFrame.size is an integer.
It's calculated as number of rows Ã— number of columns.

DataFrame.shape:

DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
The tuple has two elements: the first element is the number of rows, and the second element is the number of columns.
It provides a clearer overview of the structure of the DataFrame in terms of rows and columns.
The values returned by DataFrame.shape are integers.
It's represented as (number of rows, number of columns).
Here's an example to illustrate the difference:

Q6.Which function of pandas do we use to read an excel file?

Ans-In Pandas, you can use the pd.read_excel() function to read data from an Excel file. This function allows you to read Excel files and create a DataFrame from the data contained within the Excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [22]:
data = {'Email': ['john.doe@example.com', 'jane.smith@example.com', 'alice.wonder@example.com']}
df = pd.DataFrame(data)

In [23]:
# Function to extract username from email
def extract_username(email):
    return email.split('@')[0]

In [24]:
# Apply the function to create the 'Username' column
df['Username'] = df['Email'].apply(extract_username)

In [25]:
print(df)

                      Email      Username
0      john.doe@example.com      john.doe
1    jane.smith@example.com    jane.smith
2  alice.wonder@example.com  alice.wonder

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3 2  3  5
4 9  1  2

Your function should select the following rows: A  B  C
1  8  2  7

4  9  1  2